div(class="form")
    form(action="/register", method="post")
        h3 Join the Waitlist
        label(for="email") Company Email
        br
        input(type="email", name="email" id="email" placeholder="company_x@example.com")
        br

        //- input(type="checkbox", name="quad")
       
        div(class="quad_captcha_anchor")
        br
        button(type="submit") Join the Waitlist