div(class="form")
    form(action="/register", method="post")
        h3 Join the Waitlist
        if (error)
            each val in error
                li.error= val
        label(for="email") Company Email
        br
        input(type="email", name="email" id="email" placeholder="company_x@example.com" required)
        br

        //- input(type="checkbox", name="quad")
       
        div(class="quad_captcha_anchor")
        br
        
        button(type="submit" id="qc-submit") Join the Waitlist