div(class="row text")
    h1 Next-Gen Bot Detector

    ul
        li Fast
        li Secure
        li Game-level Experience 

    p.
        QUAD CAPTCHA is a gamified quantum-proof bot detector with 100% security.